ALTER TABLE orders ADD COLUMN payment_screenshot TEXT, ADD COLUMN paid_amount DECIMAL(10,2) DEFAULT 0.00; UPDATE orders SET section = 'payment_confirmation' WHERE status = 'pending' AND section IS NULL;
